@import url(./products-container.css);

.card-product {
	display: flex;
	flex-direction: column;
  position: relative;
  text-decoration: none;
	gap: 1rem;
}

.products-container.list > .card-product {
	display: grid;
	grid-template-columns: 2fr 3fr;
}

.card-product[data-discount]::before {
	content: attr(data-discount);
	border-radius: 0.375rem;
	display: flex;
	padding: 0.25rem 0.5rem;
	background-color: var(--grey-13);
	color: var(--grey-01);
	font: var(--font-2-s-m);
  font-size: .875rem;
  width: fit-content;
  position: absolute;
  left: .875rem;
  top: .875rem;
}

.card-product img {
	display: block;
	width: 100%;
}

.card-product h3 {
	font: var(--font-1-m-sb);
	color: var(--grey-13);
}

.card-product p {
	font: var(--font-1-s-m);
	margin-top: 0.3rem;
	color: var(--grey-06);
}