.products-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(16.25rem, 1fr));
	gap: 2.5rem;
}

.products-container.list {
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 2.5rem;
	margin-top: 6rem;
}

@media (max-width: 48rem) {
	.products-container {
		grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
	}
}
