.section {
  margin-top: 7.5rem;
}

@media (max-width: 62rem) {
  .section {
    margin-top: 5rem;
  }
}

@media (max-width: 48rem) {
  .section {
    margin-top: 5rem;
  }
}

@media (max-width: 36rem) {
  .section {
    margin-top: 3.5rem;
  }
}

.title {
  margin-bottom: 2.875rem;
}

.title-2 {
  max-width: 28rem;
  margin-bottom: 2.625rem;
}

@media (max-width: 36rem) {
  .title, .title-2 {
    margin-bottom: 2.5rem;
  }
}