.section {
	margin-top: 7.5rem;
}

.title {
	margin-bottom: 2.875rem;
	font: var(--font-1-xxl-b);
}

.title-2 {
	max-width: 28rem;

	font: var(--font-1-xl-b);
	font-size: 1.5rem;
	margin-bottom: 2.625rem;
}

.link-text {
	
}