body {
	overflow-x: hidden;
	height: 400vh;
}

strong {
	font: var(--font-2-s-m);
}

.main-products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(16.25rem, 1fr));
	gap: 2.5rem;
}

.brands {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
	list-style: none;
	padding: 0;
}

.brands a {
	display: flex;
  align-items: center;
  justify-content: center;

	width: 7.5rem;
	height: 7.5rem;
}
