.font-1-xl-b {
	font: 700 2rem/1.5 'Plus Jakarta Sans', sans-serif;
}

.font-1-m-sb {
	font: 600 1.25rem/0.7 'Plus Jakarta Sans', sans-serif;
}

.font-2-s-r {
	font: 400 1rem/1.5 'Roboto', sans-serif;
}

.font-2-s-m {
	font: 500 1rem/1.5 'Roboto', sans-serif;
}

.font-2-s-b {
	font: 700 1rem/1.5 'Roboto', sans-serif;
}

.font-1-s-m {
	font: 500 1rem/1.5 'Plus Jakarta Sans', sans-serif;
}